div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color:#ccc;
}
#main-wrapper {
  margin:auto;
  /* max-width:1024px; */
  background-color: #fff;
}
div.title {
  margin-bottom:0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  line-height:2em;
}
div.slideshow {
  position: relative;
  width:100%;
  font-size: 12pt; color:blue;
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  background-size:cover;
  background-position: center;
}
div.slideshow:after {
  display:block;
  content:'';
  padding-top:56.25%;
}
div.slideshow .slideshow-widget {
  position: absolute;
  top:1%;
  left:1%;
}
#timeStamp{
  display: inline-block;
  text-align: left;
  font-size:12pt;
  color: #E00000;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}
#button_start{
  display: inline-block;
  width:60px;
  height:60px;
  background-image:url('../../start.png');
  background-size:100% auto;
  cursor:pointer;
  vertical-align: middle;
}
#button_start.stop {
  background-image:url('../../stop.png');
}

nav > div {
  padding:0.5%;
}
label {
  margin-top:0 !important;
  display:block;
  font-size:0.8em;
}
.button_home {
  background-color:#ccc;
  width:1.5em;
  text-align:center;
  color:#666;
  border-radius:6px;
  float:right;
  font-size:1.5em;
}

div#id_fileList{
    position:absolute;
    top:800px;
    display:none;
}

.ui-content {
    width:500px;
    position:absolute;
    top:500px;
    left:20px;
}

#slider-wrapper {
  padding:0.5%;
  border-bottom:1px solid #ccc;
}
#slider {
  margin:0 0.6em;
  border-radius: 0;
}
#slider-gauge {
  font-size:9px;
  padding:0 1px 10px 1px;
}
#slider-gauge .end{
  float:right;
}
#custom-range {
  background-color:#ffb300;
}
#custom-handle-min, #custom-handle-max {
  top:-.5em;
  width:0.6em;
  height:1.6em;
}
#custom-handle-min {
  margin-left: -.6em;
  border-radius: 4px 0 0 4px;
}
#custom-handle-max {
  margin-left: 0em;
  border-radius: 0 4px 4px 0;
}

#speed {
  padding:0.5%;
}
#speed > i {
  width:4%;
  color:#666;
}
#speed > i:nth-of-type(1){
  text-align:right;
}
#speed > div{
  display:inline-block;
  width:90%;
  margin:0 1%;
}

/* FIXES */
.pure-form input[type=text], .pure-form select {
  width:100%;
}
.pure-form input[type=text] {
  padding:.3em .6em;
}
div#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  background-position: center top -18px;
}
